<h1><strong>Checkout</strong></h1>
<div ng-if="!Order.allItems" class="card fluid double-padded">
    <h3>Your cart is empty.</h3>
</div>

<messge ng-if="Order.neworder.id &&!Order.allItems " neworder="Order.neworder"> </messge>



<div ng-if="Order.allItems" class="card fluid">
    <div ng-repeat="(ndx,item) in Order.cart" class="section">
        <div class="row">
            <div class="col-sm col-lg-1"><img src="{{item.item.img}}" class="section media"></div>
            <div class="col-sm-5 col-lg-5">
                <h4>{{item.item.Name}}</h4>
                <span ng-if="Order.cart[item.item.id]">
                    <button class="small " ng-click="Order.toCart(item.item,false)">-</button>
                    <b>{{Order.cart[item.item.id].qty}}</b>
                    <button class="small " ng-click="Order.toCart(item.item)">+</button>
                </span>
            </div>
            <div class="col-sm pcost">
                <b>{{item.pcost}}<sup> {{Order.Currency}}</sup></b>
            </div>
            <div class="col-sm">
                <h3 class="right delete" ng-click="Order.delItem(item.item)">&times;</h3>
            </div>
        </div>
    </div>
    <div class="section dark row">
        <div class="col-sm-6">
            <p><strong>{{Order.FullCost}}</strong> <sup>{{Order.Currency}}</sup></p>

            <p class="nowrapped">Delivery: <strong>{{Order.deliveryCost}}</strong> <sup>{{Order.Currency}}</sup></p>

        </div>
        <div class="col-sm-6">
            <h2><strong>{{Order.Total}}</strong> <sup>{{Order.Currency}}</sup></h2>
        </div>

    </div>
    <forma form="checkoutform" on-submit="CheckoutFormSubmit"></forma>
</div>
