.prices em {
    float:right

}

.minicart {
    position: fixed;
    right: 0;
    top: 50px;
}
sup{
    color:rgb(109, 109, 109)
}
.right {
    float: right!important;
}
label {
    font-weight: bold;
    text-transform: uppercase;
}
small.error {
    display: block;
    text-align: right;
    padding: 5px;
    color:#d32f2f
}
span.message {
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding: 15px;
    color:#d32f2f;
    font-weight: bold;
}
.center {
    text-align: center!important;
}
a.button,
button
{

    text-transform: uppercase;
    font-weight: bold;
}
form h3 {
    text-transform: uppercase;
    font-weight: bold;
}
.pcost {
    white-space: nowrap;
}

.preloader  {
 display: none;
}
.wrapped {
    white-space: initial;
}
.nowrapped {
    white-space: nowrap;
}